.input {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-default, #e1e3e6);
  background: var(--background-primary, #fff);
}

.input:focus {
  outline: 1px solid var(--orange, #f50);
}

.input::placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  color: var(--text-tertiary, #999fa6);
  font-size: 14px;
  line-height: 20px;
}
